@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.root {
    font-weight: bold;
    font-family: 'Audiowide', cursive;
    display: flex;
    align-items: center;
}
.colr1 {
    color: var(--primary-color-1);
}
.colr2 {
    color: var(--secondary-color-1)
}