@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color-1: dodgerblue;
  --secondary-color-1: orange;
  --light-green: #00dc00;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li { 
  list-style: none; 
  margin-top: 10px;
}

.mt-15 { margin-top: 15px !important; }
.mt-25 { margin-top: 25px !important; }
.p-5 { padding: 5px !important }

/* input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
} */

.radio_label {
  padding-left: 20px;
  position: relative;
  display: inline-block;
}
.radio_label input[type="checkbox"],
.radio_label input[type="radio"] {
  position: absolute;
  left: 0;
  top: 3px;
}
